<ol class="breadcrumb">
	<li class="fa fa-home"> &nbsp;&nbsp;<a href="">首页</a></li>
	<li><a href="">权限管理</a></li>
	<li class="active">用户管理</li>
</ol>
<div class="row md-20" ng-controller="userAdminController">
	<div class="panel">
		<div class="panel-heading">
			<i>用户管理</i>
		</div>
		<div class="panel-body">
			<table st-table="displayedCollection" st-safe-src="userCollection" class="table table-striped smart-table">
				<thead>
					<tr>
						<th st-sort="account">帐号</th>
						<th st-sort="name">姓名</th>
						<th st-sort="role">角色</th>
						<th>性别</th>
						<th st-sort="tel">电话</th>
						<th>备注</th>
						<th>操作</th>
					</tr>		
					<tr>
						<th>
							<input st-search="account" placeholder="search for account" class="input-sm form-control" type="search"/>
						</th>
						<th colspan="3">
							<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<input st-search="role" placeholder="search for role" class="input-sm form-control" type="search"/>
						</th>
						<th>
							<a class="btn btn-primary" ui-sref="app.authority.addUser" ><i class="fa fa-plus"></i>新增用户</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in displayedCollection">
						<td>{{user.account}}</td>
						<td>{{user.name}}</td>
						<td> {{user.role}}</td>
						<td>{{user.sex}}</td>
						<td>{{user.tel}}</td>
						<td>{{user.remarks}}</td>
						<td>
							<button type="button" ui-sref="app.authority.addUser(user)"  class="btn btn-sm btn-primary">
								修改
							</button>
							<button type="button"  ng-click="removeItem(user)" class="btn btn-sm btn-primary">
								删除
							</button>
							<button type="button" ng-click="removeItem(user)" class="btn btn-sm btn-primary">
								重置密码
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
