<ol class="breadcrumb">
	<li class="fa fa-home"> &nbsp;&nbsp;<a href="">首页</a></li>
	<li><a href="">通道管理</a></li>
	<li class="active">微网站管理</li>
</ol>
<div class="row md-20">
	<div class="site-wrap" ng-controller="websiteController">
		<ul>
			<li class="site-floor">
				<div class="site-title">生源</div> 	
				<div class="site-banner">
					<img src="http://imagesy.airad.com/mbis/1847/images/1439185995665DsMnItG86z.png">
					<site-customize-btn></site-customize-btn>
				</div> 
				<div class="site-edit-box">
					<div class="title">幻灯片设置</div>
					<ul class="site-banner-list">
						<li><img src="http://imagesy.airad.com/mbis/1847/images/1439185995665DsMnItG86z.png"></li>
						<li><img src="http://imagesy.airad.com/mbis/1839/images/1439185561142QRtTCXykco.jpg"></li>
						<li><img src="http://imagesy.airad.com/mbis/1843/images/1439185909733dkrw94Wcrp.png"></li>
						<li><img src="http://imagesy.airad.com/mbis/1827/images/14391846283015mjUsY7O4L.jpg"></li>
						<li><img src="http://imagesy.airad.com/mbis/1855/images/1439196349780Q9SkZ9T3T7.jpg"></li>
					</ul>
				</div>
			</li>
			<li class="site-floor">
				<div class="site-title">本周推荐</div> 	
				<div class="site-module">
					<div class="site-col">
						<img src="http://imagesy.airad.com/mbis/1679/images/1438155421064xvkKLavdQF.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="site-col-2">
						<div class="site-img">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
						<div class="site-img-2">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
					</div>
				</div>
			</li>
			<li class="site-floor">
				<div class="site-title">电子券</div> 	
				<div class="site-module clearfix">
					<div class="site-col">
						<img src="http://imagesy.airad.com/mbis/1679/images/1438155421064xvkKLavdQF.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="site-col-2">
						<div class="site-img">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
						<div class="site-img-2">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
					</div>
				</div>
			</li>
			<li class="site-floor">
				<div class="site-title">活动</div> 	
				<div class="site-module">
					<div class="site-col">
						<img src="http://imagesy.airad.com/mbis/1679/images/1438155421064xvkKLavdQF.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="site-col-2">
						<div class="site-img">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
						<div class="site-img-2">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
					</div>
				</div>
			</li>
			<li class="site-floor">
				<div class="site-title">美食</div> 	
				<div class="site-module">
					<div class="site-col">
						<img src="http://imagesy.airad.com/mbis/1679/images/1438155421064xvkKLavdQF.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="site-col-2">
						<div class="site-img">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
						<div class="site-img-2">
							<img src="http://imagesy.airad.com/mbis/1671/images/1438155380796fxDkOnd1Xm.png" alt="">
							<site-customize-btn></site-customize-btn>
						</div>
					</div>
				</div>
			</li>
			<li class="site-floor">
				<div class="site-title">电影</div> 	
				<div class="site-module">
					<div class="col-md-4">
						<img src="http://imagesy.airad.com/mbis/1635/images/1438154797834ozT2sLaGjs.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="col-md-4">
						<img src="http://imagesy.airad.com/mbis/1727/images/14381558099301aoKorvx52.png">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="col-md-4">
						<img src="http://imagesy.airad.com/mbis/1623/images/1438154668642xf7KLtFYeY.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
				</div>
			</li>
			<li class="site-floor">
				<div class="site-title">商户</div> 	
				<div class="site-module">
					<div class="col-md-4">
						<img src="http://imagesy.airad.com/mbis/1635/images/1438154797834ozT2sLaGjs.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="col-md-4">
						<img src="http://imagesy.airad.com/mbis/1727/images/14381558099301aoKorvx52.png">
						<site-customize-btn></site-customize-btn>
					</div>
					<div class="col-md-4">
						<img src="http://imagesy.airad.com/mbis/1623/images/1438154668642xf7KLtFYeY.jpg">
						<site-customize-btn></site-customize-btn>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>