<div class="navbar-header">
 	<a href="/" class="navbar-logo">   
 		Admin
	</a>
    <span class="nav-trigger fa fa-outdent" toggle-nav-min>
        
    </span>
  <!--   <span class="nav-trigger fa fa-outdent" ng-class="{'fa-navicon': isMobile, 'fa-outdent': !isMobile}" toggle-nav-min="" toggle-off-canvas="">
    </span>   -->
</div>
<!-- navbar right -->
<div class="box-shadow border-b bg-white collapse navbar-collapse clearfix">
   
   	<ul class="nav navbar-right navbar-nav">
   		<li class="hidden-sm">
   			  <a fullscreen></a>
   		</li>
   		<li class="dropdown">
   			<a href="#" class="dropdown-toggle">
   				<i class="fa fa-bell-o"></i>
   			</a>
   		</li>  
        <li>
 			<a href="#" >
 				<i class="fa fa-cog"></i>
 			</a>
            <div class="floating-sidebar">
                
            </div>
   		</li>
        <li class="dropdown">
            <div class="user dropdown-toggle" data-toggle="dropdown" aria-expand="false">
                <img src="images/avator.png" class="img-responsive img-circle user-img">
                <i class="fa fa-angle-down"></i>
            </div>
            <ul class="dropdown-menu dropdown-user animated fadeInUp">
                <div class="dropdown-arrow-up"></div>
                <div class="dropdown-arrow-border"></div>
                <li class="user-info">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object user-profile-image img-circle">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Edwinna</h4>
                            <h5>超级管理员</h5>
                            <hr style="margin:8px auto">
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Messages <span class="badge badge-info pull-right">4 new</span></a></li>
                <li><a href="login.html" class="text-danger"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
            </ul>
        </li>
   	</ul>
</div>