<nav class="sidebar-nav clearfix" >
	<ul class="nav-list list-unstyled" id="nav-list">
		<li class="">
			<a href="">Navgation</a>
	  	</li> 
		<li>
			<a ui-sref="app.dashboard">
				<i class="fa fa-home"></i>
				<span>管理首页</span>
			</a>
		</li>
		<li collapse-accordion>
			<a>
				<i class="fa fa-line-chart"></i>
				<span>组件库</span>
				<i class="arrow fa fa-angle-right right"></i>
			</a>
			<ul class="nav-subs">
				<li>
					<a ui-sref="app.ui.charts">
						<span>图表</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.ui.smartTable">                    
						<span>smart Table</span>
					</a>												
				</li>
				<li>
					<a ui-sref="app.ui.uigrid">                    
						<span>ui grid</span>
					</a>												
				</li>
				<li>
					<a ui-sref="app.ui.datatable">
						<span>datatable</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.ui.elements">
						<span>ui元素</span>
					</a>
				</li>		
				<li>
					<a ui-sref="app.ui.forms">
						<span>表单</span>
					</a>       
				</li>
			</ul>
		</li> 
		<li collapse-accordion>
			<a>
				<i class="fa fa-cog"></i>
				<span>基础设置</span>
				<i class="arrow fa fa-angle-right right"></i>
			</a>
			<ul class="nav-subs">
				<li>
					<a ui-sref="app.basic.account">
						<span>账户信息</span>
					</a>
				</li>
			</ul>
		</li>
		<li collapse-accordion>
			<a>
				<i class="fa fa-cog"></i>
				<span>权限管理</span>
				<i class="arrow fa fa-angle-right right"></i>
			</a>
			<ul class="nav-subs">
				<li>
					<a ui-sref="app.authority.user">
						<span>用户管理</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.authority.role">
						<span>角色授权</span>
					</a>
				</li>
			</ul>
		</li>
		<li collapse-accordion>
			<a>
				<i class="fa fa-line-chart"></i>
				<span>通道设置</span>
				<i class="arrow fa fa-angle-right right"></i>
			</a>
			<ul class="nav-subs">
				<li>
					<a ui-sref="app.channel.wechat">
						<span>微信设置</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.channel.website">
						<span>微网站设置</span>
					</a>
				</li>
				<li>
					<a  ui-sref="app.channel.appContent">
						<span>App内容设置</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.channel.wifi">
						<span>WIFI广告管理</span>
					</a>
				</li>
			</ul>
		</li>
		     
		<li collapse-accordion>
			<a ui-sref="app.market">
				<i class="fa fa-users"></i>
				<span>营销管理</span>
				<i class="arrow fa fa-angle-right right"></i>
			</a>
			<ul class="nav-subs">
				<li>
					<a ui-sref="app.market.activityManage">
						<span>活动管理</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.market.messageManage">
						<span>消息管理</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.market.ticketManage">
						<span>电子券管理</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.market.ticketManage">
						<span>电子券兑换</span>
					</a>
				</li>
				<li>
					<a ui-sref="app.market.ticketManage">
						<span>代金券管理</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-home"></i>
				<span>素材管理</span>
			</a>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-home"></i>
				<span>数字化内容</span>
			</a>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-home"></i>
				<span>基本功能</span>
			</a>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-home"></i>
				<span>CRM管理</span>
			</a>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-home"></i>
				<span>营销推广</span>
			</a>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-home"></i>
				<span>分组营销</span>
			</a>
		</li>
		<li>
			<a href="#/dashboard">
				<i class="fa fa-wifi"></i>
				<span>设备管理</span>
			</a>
		</li>
	</ul>
</nav> 